* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#title {
    padding: 0;
    text-align: center;
    line-height: normal;
}
p {
    font-size: 20px;
    color:#000000;
    margin: 30px 0;
    line-height: 30px;
}
a, h1 {
    text-decoration: none;
    font-size: 20px;
    color:#000000 ;
    display: block;
    margin: 20px 0;
    text-align: center;
}

a{opacity:0.6;
 transition: 0.3s;
}
a:hover{
opacity:1;
 transition: 0.3s;
}

body{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
	color: #000000;
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}	
img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 100px ;

}

.main {
    width: 70%;
    margin: auto;
}

.text{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left: 60px;
    font-size: 20px;
    padding-bottom: 10px

 }
